.screenshot-pnl-cls{
    width: 68%;
    height: 40vh;
    min-height: 320px;
    margin: 2vh 2vw;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
    .image-pnl-cls{
        width: 93%;
        border: 1px solid #ccc;
        height: 80%;
        border-radius: 5px;
        margin: 3%;
        background: url('../../Assets/Images/camera-icon.png') no-repeat;
        background-size: 100% 100%;
    }
    .area-cls{
        margin-left: 5%;
        font-size: 22px;
        font-weight: bold;
        text-shadow: 3px 3px 3px #b7b7b7;
    }
}