@import '../../Assets/Fonts/customFonts.scss';
@import '../../Colors.scss';

.logo-wrapper-cls{
    
    height: 50px;
    display: inline-block;
    margin: 9px 0 0 10px;
    .logo-icon-wrapper-cls{
        height: 50px;
        width: 100px;
        display: inline-block;
        border: 1px solid $border-light-grey;
        border-radius: 5px;
        overflow: hidden;
        .logo-left-cls,.logo-right-cls{
            height: 50px;
            width: 50px;
            display: inline-block;
            animation-delay: 5s;
            background-repeat: repeat-x;
        }
        .logo-left-cls{
            background-image: url('../../Assets/Images/weather.png');
            animation: spinLogoLeft 55s infinite;
            background-size: cover;
            background-position-x: 0px;  
        }
        .logo-right-cls{
            background-image: url('../../Assets/Images/Cars1.png');
            animation: spinLogoRight 55s infinite;
            background-size: 150px;
            background-position-y: 20px;
            background-position-x: 1px;
        }
    }
    .logo-text-cls{        
        font-family: 'stencilFont';        
        font-size: calc(10px + 2vmin);
        display: inline-block;
        height: 50px;
        padding: 5px;
        vertical-align: super;
        text-shadow: $app-logo-text-shadow;
    }
}

@keyframes spinLogoLeft
{ 
    0%{
        background-position-x: 0px;
    }
    25%{
        background-position-x: 56px;
    }
    50%{
        background-position-x: 113px;
    }
    75%{
        background-position-x: 168px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes spinLogoRight
{ 
    0%{
        background-position-x: 1px;
    }
    50%{
        background-position-x: 50px;
    }
    100%{
        background-position-x: 100px;
    }
}